/* small */

@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

/* medium */

@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

/* large */

@media (min-width: 1400px) {
    .container {
        width: 1300px;
    }
}