:root {
    --Pink: hsl(322, 100%, 66%);
    --Very-Pale-Cyan: hsl(193, 100%, 96%);
    --Very-Dark-Cyan: hsl(192, 100%, 9%);
    --Grayish-Blue: hsl(208, 11%, 55%);

    --fm-heading:'Poppins', sans-serif;
    --fm-body:'Open Sans', sans-serif;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
body {
    height: 100vh;
    font-family: var(--fm-body);
    position: relative;
}
ul {
    padding: 0;
    list-style: none;
}
a {
    text-decoration: none;
}
h2 {
    color: var(--Very-Dark-Cyan);
    font-family: var(--fm-heading);
}


