/* Mobile */

@media (max-width: 768px) , (max-width: 992px) {
    .landing {
        min-height: 100vh;
        width: 100%;
        background-color: var(--Very-Pale-Cyan);
        background-image: url("../images/bg-hero-mobile.svg");
        background-repeat: no-repeat;
        position: relative;
    }
    .landing nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 22px
    }
    .landing nav img {
        width: 120px;
    }
    .landing .sign-up {
        width: 120px;
        padding: 10px 15px;
        background-color: white;
        color: black;
        box-shadow: 0 0 15px rgb(0 0 0 / 13%);
        border-radius: 25px;
        text-align: center;
        font-weight: 700;
        font-size: 15px;
        transition: .3s;
    }
    .landing .sign-up:hover {
        box-shadow: 0 0 15px 5px rgb(0 0 0 / 20%)
    }
    .landing .holder {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 80%;
        margin: auto;
        margin-top: 70px;
    }
    .landing .holder .content {
        color: var(--Very-Dark-Cyan);
        text-align: center;
    }
    .landing .holder .content h2 {
        font-size: 27px;
        margin-bottom: 30px;
    }
    .landing .holder .content p {
        font-size: 18px;
        margin-bottom: 30px;
        line-height: 1.5;
    }
    .sign-up-landing {
        display: block;
        width: 300px;
        margin: auto;
        background-color: var(--Pink);
        padding: 15px 70px;
        color: var(--Very-Pale-Cyan);
        font-size: 15px;
        font-weight: 600;
        border-radius: 25px;
        box-shadow: 0 0 10px rgb(0 0 0 / 13%);
        transition: .3s; 
    }
    .sign-up-landing:hover {
        box-shadow: 0 0 10px 5px rgb(0 0 0 / 25%);
    }
    .landing .holder  .img img {
        margin-top: 50px;
        max-width: 100%;
    }
    .container {
        border-radius: 20px;
        box-shadow: 0 0 10px rgb(0 0 0 / 13%);
        padding: 40px;
        margin: 20px;
    }
    .sections {
        padding-top: 50px;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(375px , 1fr));
    }
    .sections .container .img img {
        max-width: 100%;
    }
    .sections .content h2 {
       text-align: center;
       margin-top: 35px;
    }
    .sections .content p {
        text-align: center;
        margin-top: 30px;
        line-height: 1.5;
        color: var(--Grayish-Blue);
    }
    .alert {
        background-color: white;
        margin: 25px auto -75px;
        box-shadow: 0 0 10px rgb(0 0 0 / 13%);
        border-radius: 20px;
        width: 380px;
        height: 190px;
        padding: 20px;
        position: relative;
    }
    .alert h2 {
        font-size: 20px;
        text-align: center;
        margin-top: 25px;
    }
    .alert .sign-up-landing {
        margin-top: 40px;
        width: 280px;
        font-size: 13px;
    }
    footer {
        background-color: var(--Very-Dark-Cyan);
        color: #fff;
        padding: 140px 20px 50px;
    }
    footer .info .logo {
        width: 180px;
        margin-bottom: 30px;
    }
    footer .info .data{
        display: flex;
        align-items: center;
        gap: 20px;
        margin-bottom: 30px;
    }
    footer .info .data p {
        line-height: 1.5;
        width: 80%;
    }
    footer .info .data img{
        align-self: flex-start;
    }
    footer .links {
        margin-top: 50px;
    }
    footer .links li {
        margin-bottom: 20px;
    }
    footer .links a {
       color: #fff;
       font-size: 18px;
    }
    footer .social {
        display: flex;
        gap: 15px;
        justify-content: center;
        margin-top: 50px;
    }
    footer .social i {
        width: 35px;
        height: 35px;
        border-radius: 50%;
        color: #fff;
        border: 1px solid white;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    footer .copyright {
        font-size: 13px;
        text-align: center;
        margin-top: 30px;
    }
}